<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>1018835944443-nhh57fi71hquap6f441o6bvd1oemtm14.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.1018835944443-nhh57fi71hquap6f441o6bvd1oemtm14</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>1018835944443-5sd0mjempir0tbc2l2rcqqeihm5hdts0.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyDgMNbUpi5R1xfsY2NmfzXmKLgQWy6QspE</string>
		<key>GCM_SENDER_ID</key>
		<string>1018835944443</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.shoppingdog.userapp</string>
		<key>PROJECT_ID</key>
		<string>shopping-cat-app</string>
		<key>STORAGE_BUCKET</key>
		<string>shopping-cat-app.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:1018835944443:ios:e788803a19b6f56c42c15e</string>
	</dict>
</plist>